@model Sinistro
<form asp-action="RegistrarSinistro" asp-controller="Home" method="post" class="row g-3">
    <div class="col-md-4">
        <label class="form-label">Data do ocorrido</label>
        <input name="Data"placeholder="Digite a data no formato DD/MM/AAAA" type="text" class="form-control"  required>
    </div>
    <div class="col-md-3">
        <label class="form-label">Tipo</label>
        <select name="Tipo"class="form-select" required>
            <option selected disabled value="">Selecione</option>
            <option value="RouboFurto">Roubo ou Furto</option>
            <option value="Colisao">Colisão</option>
            <option value="CausasNaturais">Causas naturais</option>
        </select>
   
    </div>
    <div class="col-md-4">
        <label class="form-label">Rua</label>
        <input name="Rua"type="text" class="form-control" required>
    </div> 
    <div class="col-md-4">
        <label class="form-label">Número</label>
        <input name="Numero"type="Number" class="form-control" required>
    </div>
    <div class="col-md-4">
        <label class="form-label">Bairro</label>
        <input name="Bairro"type="text" class="form-control" required>
    </div>
    <div class="col-md-4">
        <label class="form-label">Cidade</label>
        <input name="Cidade"type="text" class="form-control" required>
    </div>

    <div class="col-md-3">
        <label class="form-label">Estado</label>
        <select class="form-select" required id="estado" name="Estado">
            <option selected disabled value="">Selecione</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
            <option value="EX">Estrangeiro</option>
        </select>

    </div>
    <div class="col-md-4">
        <label class="form-label">País</label>
        <input name="Pais"type="text" class="form-control" required>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Registrar</button>
    </div>
</form>